{% extends "public/base.html" %}
{% load static %}

{% block page_content %}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/8.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Employee Security Training</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Security Training</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row">
            <!-- #component:public/threat-assessment:start -->
            <div class="content-side order-2 col-lg-8 col-md-12 col-sm-12">
                <div class="service-detail" >
        <div class="content-box" style="padding-top:0">
            <h2>Security Training</h2>
            <p><strong>Staff training is an essential part of a robust cyber security initiative.</strong></p>
            <p style="color:#398bf5">Over 90 per cent of cyber-related incidents are caused not by a lack of basic IT measures, but because of user interaction. Despite sophisticated IT security defenses, one weak link – employees – remains a major vulnerability for organisations of all sizes.</p>
            <p>Cyber criminals continue to evolve the ways in which they attack SMEs, which, when combined with a lack of employee awareness and an inability to recovery from an incident, means that cybercriminals have a recipe for success, while for SMEs it can spell disaster. It’s all a question of awareness, or a lack of it.</p>
            <p>Do your employees know how to spot a phishing email? Are you confident that your colleagues could spot one? Do you know the ways in which fraudsters target businesses through invoice scams, bogus boss emails and social engineering?</p>
            <p>Providing your staff with regular awareness training on key issues is essential to fully protect your organisation. We offer a fully fledged LMS that covers essential security topics to ensure that your staff are fully educated on the cyber security threats that they are most likely to face. Effective training, delivered in easy to understand bite sized modules. All of our content is developed in-house by our own cyber security professionals.</p>

<!-- Portfolio Section -->
<section class="portfolio-section-two"  style="padding-top:0">
    <div class="auto-container">
        <div class="masonry-items-container clearfix">
            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn">
                <div class="image-box">
                    <figure class="image"><img src="{% static 'images/info-sec.jpg' %}" alt=""></figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/info-sec.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn" data-wow-delay="400ms">
                <div class="image-box">
                    <figure class="image"><img src="{% static 'images/phishing.jpg' %}"
                                               alt=""></figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/phishing.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn" data-wow-delay="800ms">
                <div class="image-box">
                    <figure class="image"><img
                            src="{% static 'images/social-engineering.jpg' %}" alt="">
                    </figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/social-engineering.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                            <h6><a href="javascript:void(0)">Social Engineering</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn">
                <div class="image-box">
                    <figure class="image"><img src="{% static 'images/workplace.jpg' %}"
                                               alt=""></figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/workplace.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn" data-wow-delay="400ms">
                <div class="image-box">
                    <figure class="image"><img
                            src="{% static 'images/social-media.jpg' %}" alt=""></figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/social-media.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                            <h6><a href="javascript:void(0)">Social Media Security</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn" data-wow-delay="800ms">
                <div class="image-box">
                    <figure class="image"><img
                            src="{% static 'images/working-remotely.jpg' %}" alt="">
                    </figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/working-remotely.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                            <h6><a href="javascript:void(0)">Working Remotely</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn" data-wow-delay="400ms">
                <div class="image-box">
                    <figure class="image"><img
                            src="{% static 'images/password-security.jpg' %}" alt=""></figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/password-security.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                            <h6><a href="javascript:void(0)">Social Media Security</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn" data-wow-delay="800ms">
                <div class="image-box">
                    <figure class="image"><img
                            src="{% static 'images/malware.jpg' %}" alt="">
                    </figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/malware.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                            <h6><a href="javascript:void(0)">Working Remotely</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn" data-wow-delay="400ms">
                <div class="image-box">
                    <figure class="image"><img
                            src="{% static 'images/pci.jpg' %}" alt=""></figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/pcijpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                            <h6><a href="javascript:void(0)">Social Media Security</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item-two masonry-item small-item wow fadeIn" data-wow-delay="800ms">
                <div class="image-box">
                    <figure class="image"><img
                            src="{% static 'images/GDPR.jpg' %}" alt="">
                    </figure>
                    <div class="overlay-box">
                        <div class="inner">
                            <a href="{% static 'images/GDPR.jpg' %}"
                               class="icon lightbox-image" data-fancybox="portfolio"><span
                                    class="fa fa-search-plus"></span></a>
                            <h6><a href="javascript:void(0)">Working Remotely</a></h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Portfolio Section -->


        </div>
    </div>
            </div>
            {% include "public/_security_ratings_sidebar.html" %}
        </div>
    </div>
</div>


{% endblock page_content %}


{% block extra_js %}
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
{% endblock extra_js %}
