{% extends "public/base.html" %}
{% load static %}
{% block extra_css %}
 <link href="{% static 'css/public/owl.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block page_content %}
{% load static %}
<section class="banner-section style-three">

            <!-- Slide Item -->
            <div style="background-image: url(/static/images/background/1.jpg);">

                <div class="auto-container clearfix" style="height:600px;">
                    <div class="row no-gutter">

                        <div class="col-md-7 p-0 d-none d-md-block">

                            <img src="{% static 'images/resource/5_screens.png' %}"  style="">

                        </div>
                        <div class="col-md-5 text-center">
                           <div class="content-box">
                        <div class="inner" style="padding:130px 0 20px;">
                              <h2 style="font-family: Passion One;font-size: 90px;line-height: 65px;font-weight: 700;color:#fff;letter-spacing: 0px;">SECURITY TRAINING SIMPLIFIED</h2>
                            <div class="d-flex justify-content-center text-left">
                                           <ul class="list-style-four">
                                            <li><strong>NO</strong> Subscription Required</li>
                                            <li><strong>NO</strong> User Logins Required</li>

                                            <li><strong>FULL</strong> Compliance Reports</li>

                                        </ul>
                        </div>
                        <div class="sec-title-two text-center">

                    <span class="title" style="font-size: 26px;color:#fff;padding-top: 30px;">easy, effective, afordable</span>

                </div>

                        </div> </div>
                        </div>

                    </div>
                    <!--row -->
                </div>

            </div>
        </section>

<section class="services-section-four">
        <div class="auto-container">
            <div class="sec-title-two text-center">

                    <span class="title">employee security &amp; compliance</span>
                    <h2>Cyber Security Training</h2>
                    <div class="text">Despite sophisticated IT security defenses, one weak link – employees – remains a major vulnerability for organisations of all sizes. Providing your staff with regular awareness training on key issues is essential to fully protect your organisation. We have taken the hassle out of cyber security training, simply sign up and we'll do the rest. Each week your staff will receive quality training in a critical area of cyber security, followed by a test of their knowledge. All you need to do is sit back and wait for the weekly reports. That's all there is to it!!

                    </div>
                </div>

            <div class="row">

                <!-- Offer Block -->
                <div class="offer-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box shadow h-100">
                        <div class="icon-box"><span class="icon"><i class="mdi mdi-account-check"></i></span></div>
                        <h3>1. Add Your Users</h3>
                        <div class="text">Upload a csv file containing email addresses and names (to personalise the training). Then choose a date on which to start your training. No subscription or recurring monthly fees required, a simple one-off payment ensures delivery of training to all of your staff.</div>
                    </div></div>
                     <!-- Offer Block -->
                <div class="offer-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box shadow h-100">
                        <div class="icon-box"><span class="icon"><i class="mdi mdi-telegram"></i></span></div>
                        <h3>2. Training is Sent</h3>
                        <div class="text">Each week your users receive a link to a training course via email. They simply click the link, then complete the training and quiz. No logins are required. Automatic reminder emails are sent to those users that have not completed scheduled training.</div>
                    </div>
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box shadow h-100">
                        <div class="icon-box"><span class="icon"><i class="mdi mdi-chart-line"></i></span></div>
                        <h3>3. Receive Reports</h3>
                        <div class="text">Detailed weekly reports on the training completion status are sent right to your inbox. Need immediate access to your data? Your admin area is available 24/7 for full access to all statistics. We also provide a complete LMS system for advanced training delivery. </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Training Modules -->
<section class="call-to-action-three" style="background-image:url(/static/images/background/9.jpg)">
        <div class="auto-container">

            <div class="content-box">
                <h2>Effective Training<br>from Security Experts</h2>
                <div class="text">Quality training, delivered in easy to understand bite sized modules. Each course takes approximately 15 mins and covers all key areas of security. Each course requires a quiz to be passed for completion to ensure a full understanding of the  material. .</div>
            </div>
<div class="content-box">
               <div class="d-flex justify-content-center text-left">

                   <div class="pr-3">
                       <ul class="list-style-three">
                                            <li>Phishing Awareness Training</li>
                                            <li>Business Email Compromise</li>
                                            <li>Password Security &amp; Management</li>
                                            <li>Malware &amp; Ransomware</li>
                                            <li>Information Security</li>
                                        </ul>
                   </div>
                   <div class="pl-3">
                       <ul class="list-style-three">
                                            <li>Understanding Social Engineering</li>
                                            <li>Physical WorkPlace Security</li>
                                            <li>Working Outside of the Office</li>
                                            <li>Social Media Security</li>
                                            <li>Understanding GDPR</li>
                                        </ul>
                   </div>

               </div>

            </div>
            <div class="bottom-box">
                <div class="inner clearfix">
                    <div class="contact-info"><strong>Starting from just $275 for 20 users</strong></div>
                    <span class="or">OR</span>
                    <div class="btn-box">
                        <a href="contact.html" class="theme-btn btn-style-one">Ask For Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <!--End Training Modules -->


      <!-- Phishing Simulation -->
<section class="services-section-three">
        <div class="auto-container">
            <div class="row">
                <!-- Service Column -->
                <div class="service-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row">
                            <!-- Service Block -->
                            <div class="service-block-three col-lg-12 pt-5">
                                <div class="inner-box mr-5">
                                   <video width="100%" controls class="img-shadow" poster="/static/images/phishing_simulation.png">
                            <source src="/static/images/inbox-quiz.mp4" type="video/mp4">
                            <source src="/static/images/inbox-quiz.webm" type="video/webm">
                            Your browser does not support the video tag.
                        </video>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- Title Column -->
                <div class="title-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title-two mb-3">
                           <span class="title mt-3">bonus content</span>
                            <h2>Phishing Training</h2>
                        </div>
                        <div class="text">
                            <p>This fully tracked training module presents multiple phishing scenarios in the form of an email client inbox. Emails have to be classified as either "phishing" or "genuine". Copies of actual phishing emails are used to provide an authentic learning experience. Each email is fully explained with all phishing identifiers highlighted. </p>
                            <p>Business Email Compromise - such as Invoice Fraud and CEO Fraud are demonstrated in addition to common phishing emails. Effective training without the headache and cost of a full-blown phishing simulation. </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>


<section class="call-to-action-two" style="background-image: url(/static/images/background/1.jpg);">
   <div class="auto-container">
     <div class="sec-title text-center">
      <span class="title mt-3 text-white">bonus content</span>
            <h2 class="text-white">Awareness Posters</h2>
      </div>
       <ul class="sponsors-carousel owl-carousel owl-theme mt-5">
                   <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/phishing_poster.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/dog_password.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/share.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/connect.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/strong_password.jpg' %}" alt=""></figure></li>
                     <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/tailgaters.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/stop.jpg' %}" alt=""></figure></li>

                </ul>
            </div>
    </section>

   <!-- Full LMS -->
    <section class="about-section">
        <div class="auto-container">
           <div class="icon-layer wow slideInLeft" data-wow-delay="400ms"></div>
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title-two">
                            <span class="title">learning Management System</span>
                            <h2>Need a full LMS? We have that covered too!</h2>
                        </div>
                        <div class="message">Our fully featured LMS lets you deploy and automate the delivery of SCORM 1.2 complaint courses. </div>
                        <div class="text">We get it, sometimes you need all the bells and whistles. Our LMS gives you complete granular control of the delivery of your training. Your own internal policies and documents can be added to each course. Learning Paths, Learning Groups and Scheduling provide enterprise level features for larger organisations. </div>
                        <div class="btn-box mt-3">
                    <a href="/security-starter/" class="theme-btn btn-style-one">Find Out More</a>
                </div>
                    </div>
                </div>

                <!-- image column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image-box wow fadeInRight">
                            <figure class="image"><img src="{% static 'images/resource/laptop-lms.png' %}" alt=""></figure>

                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>
    <!--End Full LMS -->





<section class="call-to-action-two">
    <div class="icon-layer wow zoomIn animated animated" data-wow-delay="400ms"></div>
    <div class="auto-container clearfix">
        <div class="title-column text-center">
            <div class="inner">

                <h3>Easy, Effective &amp; Affordable. Simplify your life. With the time you've saved, take the afternoon off. You deserve it. </h3>
                <div class="btn-box" style="padding-top:30px;">
                    <a href="/accounts/signup/" class="btn-style-two">Sign Me Up!!</a>
                </div>
            </div>
        </div>

    </div>
</section>





{% endblock page_content %}


{% block extra_js %}
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script>
         (function($) {

if ($('.sponsors-carousel').length) {
		$('.sponsors-carousel').owlCarousel({
			loop:true,
			margin:40,
			nav:false,
			smartSpeed: 500,
			autoplay: true,
			responsive:{
				0:{
					items:1
				},
				600:{
					items:2
				},
				768:{
					items:3
				},
				1024:{
					items:4
				}
			}
		});
	}


})(window.jQuery);
</script>
<script>
if($('.tabs-box').length){
		$('.tabs-box .tab-buttons .tab-btn').on('click', function(e) {
			e.preventDefault();
			var target = $($(this).attr('data-tab'));

			if ($(target).is(':visible')){
				return false;
			}else{
				target.parents('.tabs-box').find('.tab-buttons').find('.tab-btn').removeClass('active-btn');
				$(this).addClass('active-btn');
				target.parents('.tabs-box').find('.tabs-content').find('.tab').fadeOut(0);
				target.parents('.tabs-box').find('.tabs-content').find('.tab').removeClass('active-tab animated fadeIn');
				$(target).fadeIn(0);
				$(target).addClass('active-tab animated fadeIn');
			}
		});
	}

</script>
{% endblock extra_js %}
