{% extends "public/base.html" %}

{% block page_content %}

<!--Page Title-->
<section class="page-title">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Security &amp; Trust Ratings</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="javascript:void(0)">Security &amp; Trust Ratings</a></li>
                <li>What Are They?</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row">

            <!--Content Side-->
            <div class="content-side order-2 col-lg-8 col-md-12 col-sm-12">
                <div class="service-detail">

                    <div class="content-box" style="padding-top:0">
                        <h2>Security &amp; Trust Ratings</h2>
                        <p><strong>What are they and how do they work?</strong></p>
                        <p style="color:#398bf5">Ratings allow organisations to assess their brand&#39;s digital trust and
                            their public security profile. They allow third parties to ensure that their own security
                            and privacy is respected by those they interact with.</p>
                        <p style="color:#398bf5">We assess the integrity, authenticity and confidentiality of internet
                            delivered data and communications so that users can reliably ascertain where they are going,
                            who they are interacting with, and how confidential their interactions are. Ratings display
                            a commitment to privacy, accountability and trustworthiness.</p>
                        <p>There are a number of industry accepted security standards that protect both internet users
                            and service providers from malicious exploits. These standards are applicable to every
                            organisation with an online presence regardless of size. They help to provide the foundation
                            of a secure and private internet for everyone.</p>


                        <p>These public channels of internet communication and service delivery, by their very nature,
                            can be assessed from the outside. Compliance to specific security standards together with
                            Open Source Intelligence forms the basis of our Security and Trust Ratings.</p>


                        <h3>Assessment Categories</h3>
                        <p>As well as providing an overall rating we break down an organisation&#39;s score into three
                            categories (and then further sub-categories). These reflect the distinct risk categories
                            that can impact an organisation and it&#39;s third parties. </p>


                        <h4 class="feature-block-h">Email Security</h4>
                        <p><strong>Can we trust email communications to and from an organisation? Are they encrypted,
                            private and secure?</strong></p>
                        <p>Email is inherently insecure. It may surprise you to learn just how insecure it really is.
                            For example, did you know that messages which you thought were deleted years ago may be
                            sitting on servers half-way around the world? Or that your messages can be read and modified
                            in transit, even before they reach their destination? Or even that the username and password
                            that you use to login to your email servers can be stolen and used by hackers?</p>
                        <p>It&#39;s no surprise that 95% of all hacking attacks and data breaches involve email. Yet
                            critically more than 67% of organisations have not fully implemented readily available email
                            authentication solutions. </p>
                        <p> We check for the implementation of security standards that protect a domain from email fraud
                            such as Phishing, CEO Fraud, Invoice Fraud, Business Email Compromise, Brand abuse and
                            scams. </p>
                        <p>We check that emails are protected from interception by third parties. Without this
                            protection messages are as open to snoopers as a postcard in the mail.</p>


                        <h4 class="feature-block-h">Web Security</h4>
                        <p><strong>Can we trust the website to be encrypted, private and secure?</strong></p>
                        <p>Communications travel across a complex network of networks in order to get from point A to
                            point B. Throughout that journey they are susceptible to interception by unintended
                            recipients who know how to manipulate the networks. Sites that don't comply to encryption
                            security standards are crippling the privacy controls you thought were protecting your data.
                            </p>
                        <p>Unencrypted websites can be used to do more than just steal sensitive information that a user might submit. An attacker can take advantage of the lack of encryption to inject malware into a website, which can lead to the complete compromise of a user’s computer and all of their data. We check to ensure the integrity of data transmission to ensure privacy and security.</p>

                        <h4 class="feature-block-h">Web Application Security</h4>
                        <p><strong>Can we trust that the website is protected from common vulnerabilities?</strong></p>
                        <p>We check for vulnerabilities some of which are among those listed in the "Ten Most Critical Web Application Security Risks" published by The Open Web Application Security Project (OWASP). These vulnerabilities can put an organisation and website visitors equally at risk. The implementation of security standards protect you against the types of attacks that your site is most likely to come across, such as cross-site scripting (XSS), man-in-the-middle (MitM) attacks, click-jacking, cross-site request forgery and other threats.
                            </p>

                        <h4 class="feature-block-h">Infrastructure</h4>
                        <p><strong>Is the public facing infrastructure already compromised or vulnerable to common
                            security issues?</strong></p>
                        <p>Checks ensure that an organisations IP address and domain is not infected with malware, bots, exploit scanners, spyware, hositle spiders and more.   We check a webserver for common vulnerabilities that
                            can easily be exploited. CVE vulnerabilities are identified by passive fingerprinting of server software and version, open ports are identified to ensure there is a minimum number of exposed services. </p>
                        <p>We use data from numerous security intelligence feeds, intrusion detection feeds and a system
                            of automated bots, crawlers and honeypots which continuously collect data from across the
                            Internet.</p>





                        <div class="news-block-three style-two mt-5" >
                            <div class="inner-box">
                                <div class="lower-content text-center">
                                    <h4>The cyber hygiene gap is created by those who are unaware of, or who neglect, security best practices.</h4>

                                </div>
                            </div>
                        </div>

                    </div>


                    <h3 class="mt-5 mb-3">Non-intrusive Scanning &amp; Open Source Intelligence</h3>
                    <p>As ratings are generated through regular scans of externally observable data and analysis of Open
                        Source Intelligence they can be used to assess the security and trust profile of third parties.
                        Some of the most devastating breaches in the past few years have been rooted in the security
                        weaknesses of third parties, and in fact, hackers themselves admit that contractors are often
                        their primary target. This makes our ratings perfect for Vendor Risk Management and Cyber
                        Insurance risk assessments.</p>
                    <p>

                    </p>

                    <!-- Service FAQ's -->
                    <div class="service-faqs mt-5">
                        <h3>Service FAQ’s</h3>
                        <ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active">How accurate are your ratings?
                                    <div class="icon flaticon-add-1"></div>
                                </div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">We have taken great effort to make sure that our ratings are
                                            accurate and transparent. We have focused on assessing data points that are
                                            tangible and clearly quantifiable. That are as relevant to multinational
                                            corporations as they are to a small startup. <br><br>


                                            Our ratings explicitly indicate whether an organisation has sufficiently
                                            implemented security standards that allow us to trust our email and web
                                            based interactions with them. Their public security and trust profile.
                                            <br><br>

                                            Whilst these can correlate to the internal security profile of an
                                            organisation, we should not assume that an "A" rating definitively means
                                            that an organisation is fully secure. <br><br>

                                            There are many aspects that contribute to the security of an online service
                                            or organisation that are not externally available and would require active
                                            testing. <br><br>


                                            Our ratings provide a useful tool for self and third party assessments.
                                            Based on quantifiable data they are an improvement on, or add tremendous
                                            value to, self report security questionnaires currently used when assessing
                                            third party risk.


                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">How can you say my organisation cannot be trusted?
                                    <div class="icon flaticon-add-1"></div>
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">

                                            <p>In the global digital economy we can interact with hundreds of
                                                organisations a day. We cannot assess the internal security controls an
                                                organisations, however we can assess their compliance to industry
                                                accepted security standards with reference to internet based
                                                communications. These standards specifically exist to promote integrity,
                                                authenticity and confidentially.</p>
                                            <p>Without compliance to these standards, or if an organisation has
                                                vulnerable or compromised infrastructure, we can safely say the we
                                                cannot wholly trust our email and/or web communications to be secure,
                                                authentic and confidential.</p>
                                            <p>These cyber security risks impact digital avenues of communication and
                                                thus are not just an internal security issue. They impact all that might
                                                communicate with an organisation.</p>
                                            <p>Implementation of these standards and the basic cyber hygiene that would
                                                result in a "trusted" rating are fundamental to even a minimal cyber
                                                security compliance initiative.</p>

                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">How long will it take to go from a bad to good rating?
                                    <div class="icon flaticon-add-1"></div>
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">Implementation of security standards and remediation of
                                            vulnerabilities will have an immediate security impact on your organisation.
                                            It is possible to go from a bad to a good rating almost overnight. Commonly
                                            it might take 30 days to implement and test remediation depending on the
                                            current level of compliance.
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>


            <!-- End content -->

            {% include "public/_security_ratings_sidebar.html" %}
        </div>
    </div>
</div>
{% endblock page_content %}
