{% extends "public/base.html" %}
{% load static %}
{% block extra_css %}
 <link href="{% static 'css/public/owl.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block page_content %}


<!-- Bnner Section -->
<section class="banner-section style-three">

            <!-- Slide Item -->
            <div  style="background-image: url(/static/images/background/1.jpg);">
               <div class="cssp-header-img">
                <div class="auto-container clearfix" >
                   <div class="row">
                       <div class="col-lg-6">
                    <!-- Content Box -->
                    <div class="content-box">
                        <div class="inner" style="padding:120px 0 100px;">
                            <h2 style="font-family: Passion One;font-size: 80px;line-height: 70px;font-weight: 700;text-shadow: 2px 2px #2c73cf;" class="">CYBER SECURITY STARTER PACK</h2>
                            <div class="text" style="text-shadow: 2px 2px #2c73cf;">Cyber security can sound like a confusing and expensive challenge, yet it is essential to protect not only your business, but also your customers and your reputation. We  provide everything you need to start an effective, affordable, easy to implement security initiative.</div>
                            <div class="link-box">
                                <a href="{% url 'account_signup' %}" class="theme-btn btn-style-one">Sign Up Now!</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">


                    </div>


                    </div> <!--row -->
                </div>
                </div>
            </div>
    </section>

<!-- Cyber Security Action Plan -->
<section class="services-section-four">
        <div class="auto-container">
           <div class="sec-title-two text-center">
           <span class="title">effective &amp; affordable</span>
            <h2>Cyber Security Simplified</h2>
            <div class="text" style="padding:0 70px;">The Starter Pack enables you to readily identify, assess and manage cyber security risks. It fast tracks an organisation to meet Enterprise level compliance, risk management and IT assurance programmes.
            </div>
        </div>



            <div class="row">

                <!-- Title Box -->
                <div class="title-box col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box" style="min-height:370px;padding:40px 50px;">
                        <div class="sec-title light mb-0">
                            <h2>Cyber Security Action Plan</h2>
                            <div class="text">Protecting any business should follow a logical, deliberate method. We provide an easy to follow, effective and affordable process to enhance your security profile and manage cybersecurity-related risk.</div>
                        </div>

                    </div>
                </div>

                <!-- Service Block Four -->
                <div class="service-block-four col-lg-4 col-md-6 col-sm-12" >
                    <div class="inner-box text-center" style="min-height:370px;">
                        <div class="icon-box"><span class="icon"><i class="mdi mdi-chart-line"></i></span></div>
                        <h5>1. Risk Report Remediation</h5>
                        <div class="text mb-0">Fix any issues with your public facing assets and implement industry accepted security standards to protect both internet users and your company from malicious exploits.</div>

                    </div>
                </div>

                <!-- Service Block Four -->
                <div class="service-block-four col-lg-4 col-md-6 col-sm-12" >
                    <div class="inner-box text-center" style="min-height:370px;">
                        <div class="icon-box"><span class="icon"><i class="mdi mdi-account-check"></i></span></div>
                        <h5>2. Internal Self Assessment</h5>
                        <div class="text mb-0"> An assessment of an organisation’s internal security posture verifies that basic cyber security controls are in place and generates an "Action Plan" to remediate any security gaps.  </div>

                    </div>
                </div>

                <!-- Service Block Four -->
                <div class="service-block-four col-lg-4 col-md-6 col-sm-12" >
                    <div class="inner-box text-center" style="min-height:370px;">
                         <div class="icon-box"><span class="icon"><i class="mdi mdi-server-security"></i></span></div>
                        <h5>3. Safeguard Your Assets</h5>
                        <div class="text mb-0"> A library of documents and policies to formalise a cyber security strategy. These materials consist of collections of policies, guidelines, risk management approaches, and best practices</div>

                    </div>
                </div>

                <!-- Service Block Four -->
                <div class="service-block-four col-lg-4 col-md-6 col-sm-12" >
                    <div class="inner-box text-center" style="min-height:370px;">
                        <div class="icon-box"><span class="icon"><i class="mdi mdi-book-open-variant"></i></span></div>
                        <h5>4. Employee Policies</h5>
                        <div class="text mb-0">A library of End User Policies. An effective way to educate employees on the importance of security is to provide policies that explain each person's responsibilities for protecting IT systems and data. </div>

                    </div>
                </div>

                <!-- Service Block Four -->
                <div class="service-block-four col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box text-center" style="min-height:370px;">
                        <div class="icon-box"><span class="icon"><i class="mdi mdi-school"></i></span></div>
                        <h5>5. Security Awareness</h5>
                        <div class="text mb-0">Providing your staff with regular awareness training on key issues is essential to fully protect your organisation. We provide awareness material and have an optional LMS to provide training on key topics.
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Call to action -->
<section class="call-to-action-five">

        <div class="auto-container clearfix d-flex">

           <div style="width:100px;" class="flex-wrap"><img src="/static/images/eye.svg" ></div>
            <div class="title-column flex-wrap">
                <div class="inner">
                    <h3>Helping clients to understand and fix their cyber security risk. </h3>
                </div>
            </div>
            <div class="btn-column ml-auto flex-wrap">
                <div class="btn-box">
                    <a href="/contact" class="theme-btn"><i class="fa fa-chart-line"></i>Book a Consultation</a>
                </div>
            </div>
        </div>
    </section>

<!-- Security Assessments -->
<section class="services-section-three">
        <div class="auto-container">
            <div class="row">
                <!-- Title Column -->
                <div class="title-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Security Assessments</h2>
                        </div>
                        <div class="text">
                            <p>An assessment of an organisation’s current security posture is the beginning of any Cyber Security initiative. Risk Ratings provide an insight into an organisation's public cyber security profile and the Internal Self Assessment provides an overview of the implementation of internal controls and policies. </p>
                            <p>Together they help to identify security gaps that need to be addressed. the remediation library, security documents, policies, guidelines and other templates in the Starter Pack provide everything that is required to achieve an enhanced security profile. </p>
                        </div>

                    </div>
                </div>

                <!-- Service Column -->
                <div class="service-column col-lg-8 col-md-12">
                    <div class="inner-column">
                        <div class="row">
                            <!-- Service Block -->
                            <div class="service-block-three col-6  wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="inner-box">
                                    <figure class="image img-shadow"><img src="/static/images/risk-score.png" alt=""></figure>

                                </div>
                            </div>

                            <!-- Service Block -->
                            <div class="service-block-three col-6  wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                                <div class="inner-box">
                                    <figure class="image img-shadow"><img src="/static/images/assess-score.png" alt=""></figure>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Call to action -->
<section class="call-to-action-two">
    <div class="icon-layer wow zoomIn animated animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: zoomIn;"></div>
    <div class="auto-container clearfix">
        <div class="title-column text-center">
            <div class="inner">

                <h3>The cyber hygiene gap is created by those who are unaware of, or who neglect, security best practices.  You don’t need to be a technical wizard to keep your business safe. Let us show you how.</h3>
                <div class="btn-box" style="padding-top:30px;">
                    <a href="{% url 'account_signup' %}" class="btn-style-two">Get your risk rating</a>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Policeis and Guidelines -->
<section class="case-studies-two style-two">
        <div class="auto-container">
           <div class="sec-title text-center">
                <span class="title">cyber security starter pack</span>
                <h2>Documents &amp; Policies</h2>
            </div>
            <div class="case-tabs tabs-box">
                <!--Tab Btns-->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#tab-1" class="tab-btn active-btn">Security Policies</li>
                    <li data-tab="#tab-2" class="tab-btn">Incident Response</li>
                    <li data-tab="#tab-3" class="tab-btn ">Employee Policies</li>
                </ul>

                <!--Tabs Container-->
                <div class="tabs-content">
                    <!--Tab / Active Tab-->
                    <div class="tab" id="tab-1" style="display: block;">
                        <div class="case-tab">
                            <div class="row">
                                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-column ml-5">
                                        <div class="title">
                                            <h3>Security Policies and Technical Guidelines</h3>
                                            <span>Safeguard your company’s information assets</span>
                                        </div>
                                        <div class="text">These documents provide the guiding principles for sound information security management. It will help you establish controls to safeguard your company’s information assets against events that could compromise their confidentiality, integrity or availability.</div>
                                        <ul class="list-style-one">
                                            <li>Access and Account Management Policy</li>
                                            <li>Asset Disposal and Sanitisation Policy</li>
                                            <li>Asset Management and Classification Policy</li>
                                            <li>BIA analysis.xlsx</li>
                                            <li>Change and Patch Management Policy</li>
                                            <li>Cyber Vulnerability management Policy</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-column ml-5">

                                        <ul class="list-style-one">
                                           <li>Data Classification Policy</li>
                                            <li>Data Encryption Policy</li>
                                            <li>Data Retention and Destruction Policy</li>
                                            <li>Information Security Strategy</li>
                                            <li>Information Security Policy</li>
                                            <li>Mobile Device and Media Security Policy</li>
                                            <li>Personal Security Policy</li>
                                            <li>Physical Security Policy</li>
                                            <li>Remote Access Management Policy</li>
                                            <li>Secure Configuration and System Hardening Policy</li>
                                            <li>Security Audit and Monitoring Policy</li>
                                            <li>Security Risk Management</li>
                                            <li>Systems and Networking Security Policy</li>
                                            <li>Third Party Security Management Policy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tab-->
                    <div class="tab" id="tab-2" style="display: none;">
                        <div class="case-tab">
                            <div class="row">
                                <div class="image-column col-md-6">
                                    <div class="inner-column">
                                        <div class="image-box">
                                            <figure class="graph"><img src="/static/images/incident-response.jpg" alt="Respond & Recover from security incidents"></figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-column  col-md-6">
                                    <div class="inner-column">
                                        <div class="title">
                                            <h3>Response Readiness</h3>
                                            <span>Respond & Recover from security incidents</span>
                                        </div>
                                        <div class="text">Incident Response is a crucial part of the cyber security framework. Ensuring that you have the processes and structure in place to deal with any security incident will enable you to mitigate damages and recover quickly. Security incidents are unavoidable. Preparations must be in place to quickly identify and respond to an incident. Whether it is a lost laptop or a malicious insider, organizations must be ready to respond. Having a plan available ahead of time is paramount to successfully managing the situation.</div>
                                        <ul class="list-style-one">
                                            <li>Incident Response Plan</li>
                                            <li>Disaster Recovery Plan</li>
                                            <li>Business Continuity Plan</li>
                                            <li>Business Impact Analysis</li>
                                            <li>Incident Response - Examples</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tab-->
                    <div class="tab active-tab animated fadeIn" id="tab-3" style="display: none;">
                        <div class="case-tab">
                            <div class="row">
                                <div class="image-column col-md-6">
                                    <div class="inner-column">
                                        <div class="image-box">
                                            <figure class="graph"><img src="/static/images/staff-policies.jpg" alt="Creating a culture of security"></figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-column col-md-6">
                                    <div class="inner-column">
                                        <div class="title">
                                            <h3>Staff Compliance</h3>
                                            <span>Creating a culture of security</span>
                                        </div>
                                        <div class="text">A cyber security policy identifies the rules and procedures that all individuals accessing and using an organization’s IT assets and resources must follow. They explain each person's responsibilities for protecting IT systems and data.</div>
                                        <ul class="list-style-one">
                                            <li>Acceptable Use Policy</li>
                                            <li>Email Usage Policy</li>
                                            <li>Internet Usage Policy</li>
                                            <li>Confidentiality & Data Classification Policy</li>
                                            <li>Remote Access Policy</li>
                                            <li>Bring Your Own Device (BYOD) policy</li>
                                            <li>Social Media Policy</li>
                                            <li>Password Protection Policy</li>
                                            <li>Clear Desk Policy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Educational Materials -->
<section class="pt-5">
       <div class="icon-layer wow slideInLeft" data-wow-delay="400ms"></div>
        <div class="auto-container">
           <div class="sec-title-two text-center mt-5">
           <span class="title mt-3">cyber security</span>
            <h2 >Staff Training Material</h2>
             <div class="text pb-5" >Over 90 per cent of cyber-related incidents are caused not by a lack of basic IT measures, but because of user interaction. Despite sophisticated IT security defenses, one weak link – employees – remains a major vulnerability for organisations of all sizes. Keeping staff aware of cyber security issues is essential to fully protect your organisation. We provide bite-sized, printable, emailable, guides on key areas of cyber security to educate staff. A selection of quality, captivating material ensures security awareness becomes part of your company culture.

        </div>


            <!-- Bite Sized Educational Materials -->
            <div class="row">
                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-2020.png" alt="" class="img-shadow-2 mb-5">
                    </div>
                </div>

                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4"  >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-20202.png" alt=""  class="img-shadow-2 mb-5">
                    </div>
                </div>

                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-20203.png" alt=""  class="img-shadow-2 mb-5">
                    </div>
                </div>
                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-20204.png" alt="" class="img-shadow-2 mb-5">
                    </div>
                </div>

                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4"  >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-20205.png" alt=""  class="img-shadow-2 mb-5">
                    </div>
                </div>

                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-20206.png" alt=""  class="img-shadow-2 mb-5">
                    </div>
                </div>
                 <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-20207.png" alt="" class="img-shadow-2 mb-5">
                    </div>
                </div>

                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4"  >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-20208.png" alt=""  class="img-shadow-2 mb-5">
                    </div>
                </div>

                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-20209.png" alt=""  class="img-shadow-2 mb-5">
                    </div>
                </div>
                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-202010.png" alt="" class="img-shadow-2 mb-5">
                    </div>
                </div>

                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4"  >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-202011.png" alt=""  class="img-shadow-2 mb-5">
                    </div>
                </div>

                <!-- Featue BLock -->
                <div class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="inner-box">
                        <img src="/static/images/bite-sized-202012.png" alt=""  class="img-shadow-2 mb-5">
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>



<section class="call-to-action-two">
   <div class="auto-container">
     <div class="sec-title text-center">
      <span class="title mt-3 text-white">attention grabbing</span>
            <h2 class="text-white">Awareness Resources</h2>
      </div>
       <ul class="sponsors-carousel owl-carousel owl-theme mt-5">
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/GTCorporate.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/_donuts.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/backup_fool.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/ceo-fraud.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/birthdays.jpg' %}" alt=""></figure></li>
                    <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/cyber_crime.jpg' %}" alt=""></figure></li>
                     <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/backup.jpg' %}" alt=""></figure></li>
                      <li class="slide-item"><figure class="image-box shadow"><img src="{% static 'images/resource/up-to-date.jpg' %}" alt=""></figure></li>


                </ul>
            </div>
    </section>

<!-- Phishing Simulation -->
<section class="services-section-three">
        <div class="auto-container">
            <div class="row">
                <!-- Service Column -->
                <div class="service-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row">
                            <!-- Service Block -->
                            <div class="service-block-three col-lg-12 pt-5">
                                <div class="inner-box mr-5 mt-4">
                                   <video width="100%" controls class="img-shadow" poster="/static/images/phishing_simulation.png">
                            <source src="/static/images/inbox-quiz.mp4" type="video/mp4">
                            <source src="/static/images/inbox-quiz.webm" type="video/webm">
                            Your browser does not support the video tag.
                        </video>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- Title Column -->
                <div class="title-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                           <span class="title mt-3">email security awareness</span>
                            <h2>Phishing Training</h2>
                        </div>
                        <div class="text">
                            <p>This interactive phishing simulation duplicates an email client. Users are presented with a series of emails and have to classify them as either "phishing" or "genuine". Copies of actual phishing emails are used to safely expose users to them in a safe and controlled environment. Each email is fully explained with all phishing identifiers highlighted. </p>
                            <p>This lightweight, responsive application can be downloaded and hosted on your own network or intranet or downloaded for each individual user. It's an incredibly effective and very easy to deploy training solution, included in the starter pack. </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

<!-- Call to action -->
<section class="call-to-action-four" style="background-image: url(/static/images/background/9.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <div class="title">All of this incredible content is included in the Riskrate.me subscription</div>
                <h2>The best cyber security investment you can make.<br>Jump start your security initiative today.  </h2>
                <div class="btn-box">
                    <a href="{% url 'account_signup' %}" class="theme-btn btn-style-one">Sign up Now!!</a>
                </div>
            </div>
        </div>
    </section>


{% endblock page_content %}

    {% block extra_js %}
     <script src="{% static 'js/owl.js' %}"></script>
     <script>
         (function($) {
if ($('.sponsors-carousel').length) {
		$('.sponsors-carousel').owlCarousel({
			loop:true,
			margin:40,
			nav:false,
			smartSpeed: 500,
			autoplay: true,
			responsive:{
				0:{
					items:1
				},
				600:{
					items:2
				},
				768:{
					items:3
				},
				1024:{
					items:4
				}
			}
		});
	}


})(window.jQuery);
</script>
    <script>
if($('.tabs-box').length){
		$('.tabs-box .tab-buttons .tab-btn').on('click', function(e) {
			e.preventDefault();
			var target = $($(this).attr('data-tab'));

			if ($(target).is(':visible')){
				return false;
			}else{
				target.parents('.tabs-box').find('.tab-buttons').find('.tab-btn').removeClass('active-btn');
				$(this).addClass('active-btn');
				target.parents('.tabs-box').find('.tabs-content').find('.tab').fadeOut(0);
				target.parents('.tabs-box').find('.tabs-content').find('.tab').removeClass('active-tab animated fadeIn');
				$(target).fadeIn(0);
				$(target).addClass('active-tab animated fadeIn');
			}
		});
	}

</script>
{% endblock extra_js %}
