{% load static %}
<!-- #component:public/call-to-action:start -->
<section class="call-to-action-two">
    <div class="icon-layer wow zoomIn animated animated" data-wow-delay="400ms"
         style="visibility: visible; animation-delay: 400ms; animation-name: zoomIn;"></div>
    <div class="auto-container clearfix">
        <div class="title-column text-center">
            <div class="inner">

                <h3>How seriously does your organisation take the protection of the privacy &amp; security of
                    customers, partners &amp; vendors? </h3>
                <div class="btn-box" style="padding-top:30px;">
                    <a href="{% url 'account_signup' %}" class="btn-style-two">Get a FREE rating</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- #component:public/call-to-action:end -->
