{% load static %}
    <!-- Cyber Security Starter pack... -->
    <section class="services-section-two style-two">
        <div class="auto-container">
            <div class="sec-title-two text-center">
                <span class="icon mdi mdi-security"></span>
                <span class="title">Cyber Security Starter pack</span>
                <h2>Go from Zero to Security Hero</h2>
                <div class="text"> Everything you need to achieve an enhanced security profile. We understanding that identifying vulnerabilities is only the first step in a process. Our goal is to make it as easy as possible for an SME to implement and maintain good cyber hygiene. We include everything you need to achieve compliance as part of a larger supply chain or just to protect your organisation, staff and partners. </div><div class="text">Enhance your Vendor Risk Management programme by providing everything your vendors need to improve their security and by extension yours. <u>All included with any of our paid accounts.</u></div>
            </div>
            <div class="row">
                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="caption-box">
                            <div class="inner">
                                <h4><a href="{% url 'security-starter' %}">Security Framework Overview</a></h4>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="caption-box">
                            <div class="inner">
                                <h4><a href="{% url 'security-starter' %}">Information Security Technical Guidelines</a></h4>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="caption-box">
                            <div class="inner">
                                <h4><a href="{% url 'security-starter' %}">Cyber Incident Response Playbook </a></h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="caption-box">
                            <div class="inner">
                                <h4><a href="{% url 'security-starter' %}">Internal Controls Assessment</a></h4>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="caption-box">
                            <div class="inner">
                                <h4><a href="{% url 'security-starter' %}">Employee Security Policy Templates</a></h4>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <div class="caption-box">
                            <div class="inner">
                                <h4><a href="{% url 'security-starter' %}">Employee Awareness Assets</a></h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-box text-center">

                <div class="btn-box mt-3">
                    <a href="{% url 'security-starter' %}" class="theme-btn btn-style-one">Find Out More</a>
                </div>
            </div>
        </div>
    </section>
  <!-- Cyber Security Starter pack... -->

