{% load static %}
<!-- Suitable for... -->
<section class="featured-services">
    <div class="row no-gutters">
        <!-- Feature Block Five -->
        <div class="feature-block-five col-lg-4 col-md-6 col-sm-12 h-100 wow fadeInUp animated animated">
            <div class="inner-box"
                style="background-image:url({% static 'images/resource/featured-bg.jpg' %});">
                <div class="content">
                    <div class="icon-box"><i class="mdi mdi-security-network usage"></i></div>
                    <h4><a href="javascript:void(0)">Vendor Risk Management</a></h4>
                    <div class="text">More than 60% of breaches are due to third party vulnerabilities. Ratings
                        allow companies to quickly and cost effectively analyse the security posture of multiple
                        vendors and partners to reduce their own risk profile.<br/>
                    </div>
                </div>
                <div class="link-box">
                    <a href="{% url 'industry-uses' %}" class="btn-style-two">Find Out More</a>
                </div>
            </div>
        </div>

        <!-- Feature Block Five -->
        <div class="feature-block-five col-lg-4 col-md-6 col-sm-12 h-100 wow fadeInUp animated animated" data-wow-delay="400ms" >
            <div class="inner-box"
                style="background-image:url({% static 'images/resource/featured-bg.jpg' %});">

                <div class="content">
                    <div class="icon-box"><i class="mdi mdi-umbrella-outline usage"></i></div>
                    <h4><a href="javascript:void(0)">Cyber Insurance</a></h4>
                    <div class="text">Long reliant on self report questionnaires insurance providers can now assess
                        the risk of prospective customers using tangible, transparent and verifiable data. Insurers
                        can monitor a company's rating for the duration of a policy.
                    </div>
                </div>
                <div class="link-box"><a href="{% url 'industry-uses' %}" class="btn-style-two">Find Out More</a></div>
            </div>
        </div>

        <!-- Feature Block Five -->
        <div class="feature-block-five col-lg-4 col-md-6 col-sm-12 h-100 wow fadeInUp animated animated" data-wow-delay="800ms" >
            <div class="inner-box"
                style="background-image:url({% static 'images/resource/featured-bg.jpg' %});">

                <div class="content">
                    <div class="icon-box"><i class="mdi mdi-account-search usage"></i></div>
                    <h4><a href="javascript:void(0)">Security Research</a></h4>
                    <div class="text">With the ability to quickly and cost effectively scan thousands of
                        domains, Government Agencies and institutional Security Researchers can analyse
                        organisations, industries and government assets on a national level.
                    </div>
                </div>
                <div class="link-box"><a href="{% url 'industry-uses' %}" class="btn-style-two">Find Out More</a></div>
            </div>
        </div>
    </div>
</section>
<!-- End Suitable for... -->
