<!-- Can we trust... -->
<section class="fun-fact-section">
    <div class="auto-container">
        <div class="row">
            <div class="info-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="message-box">
                        <div class="icon-box"><span class="icon"><i class="mdi mdi-security"></i></span></div>
                        <div class="text">DIGITAL TRUST &amp;<br>CYBER SECURITY</div>
                    </div>
                </div>
            </div>

            <div class="counters-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="row clearfix">

                        <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated animated"
                             style="visibility: visible; animation-name: fadeInUp;">
                            <span class="icon"><i class="mdi mdi-email-outline"></i></span>

                            <h4 class="counter-title">Can we trust email communcations to and from an
                                organisation?</h4>
                        </div>


                        <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated animated"
                             data-wow-delay="400ms"
                             style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                            <span class="icon"><i class="mdi mdi-web"></i></span>

                            <h4 class="counter-title">Can we trust the website? Is our privacy and security
                                protected?</h4>
                        </div>


                        <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated animated"
                             data-wow-delay="800ms"
                             style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
                            <span class="icon"><i class="mdi mdi-server-security"></i></span>

                            <h4 class="counter-title">Is infrastructure free from malware &amp;
                                vulnerabilities?</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Can we trust... -->
