<!-- Intro Section -->
<section id="section-intro" class="services-section-four">
    <div id="services"></div>
    <div class="auto-container">
        <div class="sec-title-two text-center">
            <span class="icon"><i class="mdi mdi-verified"></i></span>
            <span class="title">INTEGRITY, AUTHENTICITY AND CONFIDENTIALITY</span>
            <h2>Cyber Security &amp; Digital Trust Ratings</h2>
            <div class="text" style="padding:0 70px;font-size:20px;">Security &amp; Trust Ratings provide an insight
                into an organisation's public cyber security profile and their risk exposure to common and costly
                security vulnerabilities. They show us how seriously an organisation takes the security and privacy
                of customers, partners and vendors in their digital ecospere.
            </div>
        </div>

        <div class="row ">
            <!-- Title Box -->
            <div class="title-box col-lg-4 col-md-12 col-sm-12 row-eq-height wow fadeInUp animated animated"
                 data-wow-delay="0ms" style="visibility: visible; animation-delay: 0ms; animation-name: fadeInUp;">
                <div class="inner-box">
                    <div class="sec-title light">
                        <h2>Get your FREE rating</h2>
                        <div class="text">Know where you stand when it comes to your security and brand's digital
                            trust with a free cyber risk score.
                        </div>
                    </div>
                    <div class="link-box"><a href="{% url 'account_signup' %}"><span class="fa fa-angle-right"></span></a></div>
                </div>
            </div>

            <!-- Service Block Four -->
            <div class="service-block-four col-lg-4 col-md-12 col-sm-12 row-eq-height wow fadeInUp animated animated"
                 data-wow-delay="400ms"
                 style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="inner-box text-center">
                    <div class="icon-box"><span class="icon"><i class="mdi mdi-security"></i></span></div>
                    <h5><a href="javascript:void(0)">Manage your security</a></h5>
                    <div class="text">Monitor and improve your security &amp; trust with a detailed report and a
                        step-by-step action plan.
                    </div>
                    <div class="link-box"><a href="{% url 'account_signup' %}"><span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>

            <!-- Service Block Four -->
            <div class="service-block-four col-lg-4 col-md-12 col-sm-12 row-eq-height wow fadeInUp animated animated"
                 data-wow-delay="800ms"
                 style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
                <div class="inner-box text-center">
                    <div class="icon-box"><span class="icon"><i class="mdi mdi-voice"></i></span></div>
                    <h5><a href="javascript:void(0)">Expert Guidance</a></h5>
                    <div class="text">Get expert advice on how to improve your cyber security protecting your
                        organization &amp; your partners.
                    </div>
                    <div class="link-box"><a href="{% url 'account_signup' %}"><span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Intro Section -->
