{% load static %}
   <!-- Detailed Actionable Reports -->
    <section class="fluid-section-one">
        <div class="outer-container clearfix">
            <div class="icon-layer wow slideInLeft animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: slideInRight;"></div>
            <!--Image Column-->
            <div class="image-column" style="background-image:url(/static/images/resource/report.jpg);">
                <figure class="image-box"><img src="/static/images/resource/report.jpg" alt=""></figure>
                <div class="message-box wow slideInLeft">
                    <div class="inner">
                        <div class="text text-white text-center">Protect the security and privacy of customers, partners and vendors.</div>

                    </div>
                </div>
            </div>

            <div class="accordion-column">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">IMPROVE YOUR SECURITY & Digital Trust</span>
                        <h2>Detailed Actionable Reports</h2>
                    </div>
                        <div>

						<p><span style="color:#398bf5">A full Cyber Security & Digital Trust Report will give you an easy to understand breakdown of your rating and how it can impact your organisation. Full remediation recommendations are provided, allowing you to immediately rectify any vulnerabilities.</span></p><br>
                            <p>By implementing industry accepted standards, your organisation, small or large, will offer a higher degree of online security and publicly display its commitment to privacy, accountability and trustworthiness. </p><br>
                            <p>This non-invasive assessment can be used against third parties to review vendor and partner security posture. Remediation can be provided to these third parties enhancing the security of your digital ecosystem.
                            </p><br>

                            <div class="btn-box text-center">
                                <a href="{% url 'account_signup' %}" class="theme-btn btn-style-five text-white" style="margin-top:50px;">Sign up for a report</a>
                            </div>
					</div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Detailed Actionable Reports -->
